
body{
    margin: 0;
    padding: 0;
    
}
#globalcontainer{
  background-image: url(fabrizio-coco-8xpBe_FOdYY-unsplash.jpg);
  background-size: 100%;
}

#header{
    background-color: rgb(158, 134, 105);
    height: 50%;
}
#content{
  padding-top: 10px;
    width: 40%;
  float:right
}

#para{
  text-align: start;
}
#forms{
  width: 20%;
  background-color: rgb(184, 179, 179);
  text-align: center;
  margin: 10px;
}


#image{
  width: 50%;
}
ul {
    margin-block: 0em;
    text-align: justify;
    padding: 16px; 
  }
  a{
    text-decoration: none;
    color: beige;
  }
  
  tbody{
    text-align: center;
    font-size: large;
  }
  #search{
    float:right;
  }
  #package{
    padding-top: 20px
  }
  input{
    border-radius: 10px;
  }
 table,th,td{
    border: 1px solid bisque;
  }
  nav{
    background-color:rgb(96, 112, 112);
    display: inline-block;
    float: right;
    
  }
