body{
    margin: 0;
    padding: 0;
    
}
#globalcontainer{
  background-image: url(fabrizio-coco-8xpBe_FOdYY-unsplash.jpg);
  background-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
}

#header{
    background-color: rgb(46, 42, 37);
    height: 50px;
}
#content{
  padding-top: 10px;
    width: 40%;
  float:right
}

#para{
  text-align: start;
}
#forms{
  width: 20%;
  background-color: rgb(184, 179, 179);
  text-align: center;
  margin: 10px;
  border: 20px solid;
  border-color: black;
  color: black;
}
#image{
  width: 50%;
}
ul {
    margin-block: 0em;
   list-style-type: none;
    padding: 16px; 
  }
  a{
    text-decoration: none;
    color: beige;
  }
  
  tbody{
    text-align: center;
    font-size: large;
  }
  #search{
    float:right;
  }
  #package{
    padding-top: 20px
  }
  input{
    border-radius: 10px;
  }
 table,th,td{
    border: 1px solid bisque;
  }
 nav{
    background-color:rgb(96, 112, 112);
    text-indent: 10px;
    padding-bottom: 16px;
    position: fixed;
    width: 100%;
    
  }
  li{
    float: left;
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  article{
    border-radius: 10px;
    background-color: dimgray;
    padding-left: 50px;
   margin: 5px;
  
  }
